@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.wrapper {
  width: 50rem;
  height: 35rem;
  border-radius: 25px;
  border: 3px solid black;
  overflow: hidden;
  position: relative;
}

@media (max-width:768px) {
  body {
    padding: 0;
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    border: none;
  }
}

.wrapper .screen {
  flex: 1;
  min-width: 100%;
  transition: all 0.3s ease;
}



.screen-backdrop {
  background: #BEEE62;
  width: 125%;
  height: 15rem;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 0.3s ease;
}

.head-wrapper {
  padding: 30px 30px;
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.welcome h1 {
  font-size: 1.5rem;
}
.welcome p {
  font-weight: 500;
}

.intro-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 5em;
}

.img-backdrop {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: yellow;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: -1;
}

.category-wrapper {
  margin-top: 1rem;
  padding: 0 30px 20px;
  overflow: auto;
}
.categories {
  max-height: 25rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
}

.categories .category {
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.categories .category:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.category .left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.category img {
  width: 4rem;
}

.category .content h1 {
  font-size: 2rem;
}
.category .content p {
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.5;
}

.category i {
  font-size: 40px;
  opacity: 0.6;
}

.category .right {
  opacity: 0;
  visibility: hidden;
  transition: all 1 ease;
}

.category:hover .right {
  opacity: 1;
  visibility: visible;

}

/** Screen change **/

.wrapper .category-screen {
  transform: translateX(-100%);
  display: none;
}

.wrapper.show-category .home-screen {
  transform: translateX(-100%);
}
.wrapper.show-category .category-screen {
  transform: translateX(0);
  display: block;
}
.wrapper.show-category .screen-backdrop {
  transform: translate(-50%, -50%);
}

.back-btn i {
  font-size: 30px;
  cursor: pointer;
}